In [6]:
# Load the dataset
import pandas as pd
csv_data = pd.read_csv(r'../Data/finalalldata.csv')
excel_file = pd.read_excel(r'../Data/Dataset_PowerBI.xlsx', sheet_name = 'Sheet1')

In [7]:
csv_data.head()

,uid,label,sex,age,bmi,smoke,location,rs10007052,rs8192288,rs20541,rs12922394,rs2910164,rs161976,rs473892,rs159497,rs9296092,class
0,copdcontrol1,0,2,28,19.22,0,4.63,1.671,1.0,0.448632,0.42328,1.000,1.0,1.473,1.000000,1.0,train
1,copdcontrol69,0,1,53,20.44,0,4.63,1.671,1.0,1.000000,0.65060,1.416,1.0,1.000,1.000000,1.0,train
2,copdcontrol68,0,1,58,20.45,1,4.63,1.000,1.0,0.669800,1.00000,1.416,1.0,1.473,1.000000,1.0,train
3,copdcontrol85,0,2,30,20.70,0,4.63,1.671,1.0,0.448632,1.00000,1.416,NaN,1.473,1.000000,1.0,train
4,copdcontrol78,0,1,55,20.76,1,4.63,1.671,1.0,0.669800,0.65060,1.000,1.0,1.473,2.088025,1.0,train

In [8]:
excel_file.head()

,Patient ID,Gender,Age,Heigt(cm),Height(in),weight kg,weight (lb),BMI,Smoker,Comorbidity1,...,RR During vigorous exercise,Baseline FEV1,Current FEV1,Baseline VO2,VO2 Reserve,VO2 max,VO2 During light exercise,VO2 During moderate exercise,VO2 During vigorous exercise,Status
0,3,Male,88,178,69.954,75,165.300,23.746689,No,NaN,...,74,0.729397,"0,89 L",2.146,3.126444,5.272444,"2,525 ml/kg/min","3,441 ml/kg/min","4,245 ml/kg/min",NaN
1,4,Female,60,167,65.631,79,174.116,28.416852,No,NaN,...,41,1.358489,"1,179 L",1.780,13.120873,14.900873,"4,739 ml/kg/min","8,765 ml/kg/min","11,284 ml/kg/min",NaN
2,8,Male,55,178,69.954,115,253.460,36.411591,No,Pulmonary Hypertension,...,47,1.588316,"1,744 L",3.083,8.347682,11.430682,"5,813 ml/kg/min","6,79 ml/kg/min","8,957 ml/kg/min",NaN
3,9,Female,55,170,66.810,81,178.524,28.117001,No,NaN,...,59,0.549915,"0,526 L",1.963,5.058624,7.021624,"3,879 ml/kg/min","4,52 ml/kg/min","5,584 ml/kg/min",NaN
4,10,Male,65,169,66.417,75,165.300,26.343269,No,NaN,...,42,1.337281,"1,149 L",2.616,5.199508,7.815508,"3,352 ml/kg/min","4,748 ml/kg/min","6,003 ml/kg/min",NaN

In [9]:
csv_data.describe()

,label,sex,age,bmi,smoke,location,rs10007052,rs8192288,rs20541,rs12922394,rs2910164,rs161976,rs473892,rs159497,rs9296092
count,633.000000,633.000000,633.000000,633.000000,633.000000,633.000000,624.000000,628.000000,629.000000,628.000000,629.000000,598.000000,633.000000,595.000000,620.000000
mean,0.696682,1.271722,63.417062,23.190724,0.631912,6.617678,1.391994,0.891881,0.804953,0.859815,1.406741,1.255722,1.299271,1.337422,1.185820
std,0.460055,0.445199,15.369700,3.661055,0.482667,1.523725,0.511025,0.188801,0.199016,0.184891,0.348731,0.387540,0.336951,0.374177,0.492045
min,0.000000,1.000000,21.000000,14.300000,0.000000,4.630000,1.000000,0.351293,0.448632,0.423280,1.000000,1.000000,1.000000,1.000000,1.000000
25%,0.000000,1.000000,55.000000,20.730000,0.000000,5.310000,1.000000,0.592700,0.669800,0.650600,1.000000,1.000000,1.000000,1.000000,1.000000
50%,1.000000,1.000000,66.000000,23.030000,1.000000,6.880000,1.000000,1.000000,0.669800,1.000000,1.416000,1.000000,1.473000,1.445000,1.000000
75%,1.000000,2.000000,75.000000,25.240000,1.000000,7.780000,1.671000,1.000000,1.000000,1.000000,1.416000,1.594000,1.473000,1.445000,1.000000
max,1.000000,2.000000,98.000000,43.560000,1.000000,8.720000,2.792241,1.000000,1.000000,1.000000,2.005056,2.540836,2.169729,2.088025,3.356224

In [10]:
excel_file.describe()

,Patient ID,Age,Heigt(cm),Height(in),weight kg,weight (lb),BMI,Baseline heartrate,H Reserve,Heartrate Max,...,SBP During vigorous exercise,Baseline Respiration Rate,RR During light exercise,RR During moderate exercise,RR During vigorous exercise,Baseline FEV1,Baseline VO2,VO2 Reserve,VO2 max,Status
count,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,...,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,1166.000000,0.0
mean,628.493997,63.272727,171.078902,67.234009,87.081475,191.927571,29.957636,79.670462,83.038629,162.709091,...,171.259005,26.931674,31.931674,42.058319,57.183533,1.246261,2.184086,9.148653,11.332738,NaN
std,338.468677,14.415992,8.610142,3.383786,19.637427,43.280890,7.069010,12.550533,15.720726,10.091195,...,19.168102,17.688208,17.688208,17.900537,18.243812,0.542042,0.522690,5.250520,5.396343,NaN
min,3.000000,40.000000,154.000000,60.522000,45.000000,99.180000,14.740704,53.358567,39.400000,144.700000,...,105.000000,-6.455759,-1.455759,12.000000,26.000000,-0.057898,1.291000,-5.772781,-4.141781,NaN
25%,338.250000,51.000000,165.000000,64.845000,72.000000,158.688000,24.519694,69.000000,72.500000,154.500000,...,159.000000,16.984020,21.984020,32.000000,47.000000,0.813279,1.748000,5.234228,7.325617,NaN
50%,629.500000,63.000000,172.000000,67.596000,88.000000,193.952000,29.422666,78.380116,83.200000,162.900000,...,172.000000,26.860056,31.860056,41.000000,56.000000,1.214200,2.133500,9.328834,11.389652,NaN
75%,920.750000,75.000000,178.000000,69.954000,104.000000,229.216000,35.586949,89.000000,94.775000,171.300000,...,184.000000,32.129855,37.129855,48.000000,64.000000,1.607006,2.644000,12.666949,15.019510,NaN
max,1212.000000,89.000000,185.000000,72.705000,120.000000,264.480000,46.803718,115.000000,123.541433,179.000000,...,228.000000,141.868265,146.868265,156.000000,174.000000,3.254390,3.090000,23.860776,26.116993,NaN

# Extract the relevant columns

In [11]:
csv_selected_columns = csv_data[['sex', 'bmi', 'age', 'location', 'smoke']]
excel_selected_columns = excel_file[['Heigt(cm)', 'weight kg', 'BMI']]

excel_selected_columns.rename(columns={"Heigt(cm)": "Height(cm)", "weight kg": "weight_kg"}, inplace=True)


# Merged data
merged_data = pd.merge(csv_selected_columns, excel_selected_columns, 
                       left_on="bmi", right_on="BMI", how="inner")

/tmp/ipykernel_38202/2795482880.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  excel_selected_columns.rename(columns={"Heigt(cm)": "Height(cm)", "weight kg": "weight_kg"}, inplace=True)

In [12]:
merged_data

Empty DataFrame
Columns: [sex, bmi, age, location, smoke, Height(cm), weight_kg, BMI]
Index: []